
/*Tipografia*/
@font-face {
    font-family: HelveticaNeue;
    src: url("#{resource['css/fonts/HelveticaNeue.otf']}");
}

button, input[type="button"],input[type="submit"]{
  width: 213px;
  height: 46px;
  outline: 0;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  /*border-color: #fff;*/

  font-family: HelveticaNeue;
  font-size: 14px;

}

.btn-azul{
  background-color: #0096f9;
}
.btn-verde{
  background-color: #66c72e;
}
.btn-laranja{
  background-color: #ffa300;
}
